body,ol,ul,h1,h2,h3,h4,h5,h6,p,dl,dd,form,fieldset,legend,input,textarea,select,figure{margin:0;padding:0}
a{text-decoration:none}
a:hover{color:#f194cf; -webkit-tap-highlight-color:rgba(255,0,0,0);}
em{font-style:normal}
li{list-style:none}
img{vertical-align:middle}
$navh:28px;
$navw:1170px;
$navbg:#f5f5f5;
$margi:0 auto;
$wt:10px;
$navcolor:#777;
body{
    font-size: 12px;
}

.vip-nav{
    width: 100%;
    height:$navh;
    background: #f5f5f5;
    .vip-nav-city{
        width:$navw;
        height: $navh;
        margin:$margi;
        line-height: $navh;
        .city{
            float: left;
            margin-left:$wt*2;
        }
        .city-arrows{
            width: 0;
            height: 0;
            border-style: solid;
            border-width:$wt/2;
            margin: $wt+2 0 0 4px;
            border-color: $navcolor transparent transparent transparent;
            float: left;
        }
    }
    .nav-navbar{
        float: right;
        text-align: center;
        li{
            width: 92px;
            float: left;
            position: relative;
            box-sizing: border-box;
            border: 1px solid transparent;
            z-index: 10;
           
            ul{
                float: none;
                background: #fff;
                 display: none;
                li{
                    float: none;
                    text-align: center;
                }
            }
        a{
                color: $navcolor;
                span{
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width:4px;
                    position: absolute;
                    right:5px;
                    top: 12px;
                    border-color: $navcolor transparent transparent transparent;
                }
            &:hover{
                color: #f194cf;
                span{
                    top: 7px;
                    border-color:  transparent transparent #f194cf transparent;
                }
                }
            }
        .iphoe{
            width: 160px;
            height: 180px;
            position: absolute;
            padding: $wt/2;
            padding-bottom: 0px;
            background: #fff;
            left: -103px;
            border: 1px solid #ccc;
            top: 28px;
            display: none;
            z-index: 30;
            img{
                width: 150px;
            }
            p{
                font-size: 16px;
                font-weight: 600;
            }
        }
            .item{
                width: 280px;
                height: 135px;
                background: #fff;
                border: 1px solid #ccc;
                position: absolute;
                right: -1px;
                top: 28px;
                padding: 10px;
                display: none;
                ul{
                    display: block;
                    width: 260px;
                    height: 67px;
                    margin: 0 auto;
                    border-bottom: 1px dashed #ccc;
                    h3{
                        text-align: left;
                    }
                    li{
                        width: 75px;
                        float: left;
                    }
                }
                .item2{
                    margin-top: 10px;
                    border: none;
                }
            }
        }
    }
}
.nav-navbar>li:nth-child(3){
    padding-left: $wt/2;
        background: url(../img/header_sign-hash-0459d02c.gif) no-repeat;
        background-position: $wt/2 $wt/2;
        background-size: $wt+2;
    }
.nav-navbar>li{
    &:nth-child(1),&:nth-child(4),&:nth-child(2),&:nth-child(8),&:nth-child(9){
        width: 70px;
    }
    &:nth-child(3){
        width: 82px
    }
    &:nth-child(5),&:nth-child(7),&:nth-child(6){
        &:hover{
            background: #fff;
            border-color: #ccc;
            border-top: none;
            &>ul{
                display: block;
            }
        }
    }
    &:nth-child(8),&:nth-child(9){
        
        &:hover{
            background: #fff;
            border-color:#ccc;
            border-bottom: none;
            height: 29px;
            a{
                display: inline-block;
                height: 30px;
                width: 100%;
                background: #fff;
                position: absolute;
                left: 0;
                top: 0;
                z-index:40;
            }
          .iphoe{
                    display: block;
                }
                .item{
                    display: block;
                }
            }
           
        }
    }
.serach{
    width: 100%;
    height: 120px;
    
    padding-top:20px;
    margin: 0 auto;
    .nav-ser{
        width: $navw;
        margin: 0 auto;
        height: 100px;
        .logo{
            width: 480px;
            height: 100px;
            float: left;
            a{
                width: 304px;
                height: 100px;
                display: inline-block;
                img{
                    width: 304px;
                    height: 100px;
                }
                &:nth-child(1){
                    width: 160px;
                    img{
                        width: 160px;

                    }
                }
            }
            
        }
        .serch-input{
            width: 451px;
            height: 34px;
            float: left;
            margin-left: 40px;
            margin-top: 33px;
            .int{
                    width: 451px;
                    height: 34px; 
                    border: 1px solid #fc0387;
                    border-radius: 3px;
                    overflow: hidden;
                    input{
                        width:365px;
                        height: 34px;
                        border: none;
                        float: left;
                        outline: none;
                        padding-left: 15px;
                    }
                    a{
                        float: right;
                        width: 70px;
                        height: 34px;
                        background: #fc0387;
                        text-align: center;
                        color:#fff;
                        span{
                            font-size: 22px;
                            line-height: 34px;
                        }
                    }
            }
            .serach-log{
                width: 100%;
                height: 170px;
                border: 1px solid #ccc;
                padding-top: 10px;
                position: relative;
                z-index: 20;
                background: #fff;
                display: none;
                .serach-item{
                    float: left;
                    width: 30%;
                    height: 100%;
                    border-right: 1px solid #ccc;
                    margin-left: 10px;
                    h3{
                        font-weight: 300;
                        color: #777;
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                }
                .tuijian{
                    float: left;
                    width: 60%;
                    height: 100%;
                    margin-left: 10px;
                    h3{
                        font-weight: 300;
                        color: #777;
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    li{
                        float: left;
                        padding: 3px;
                        border: 1px solid #ccc;
                        font-size: 11px;
                        margin: 3px;
                    }
                }
            }
        }
        .shoping{
            width: 96px;
            height: 34px;
            float: left;
            margin-left: 65px;
            margin-top: 33px;
            border-radius:2px;
            text-align: center;
            line-height:34px;
            position: relative;
            z-index:2;
            .shoping-item{
                width: 100%;
                height: 34px;
                position: absolute;
                left: 6px;
                top: 0px;
                border: 1px solid #777;
                z-index: 10;
                span{
                    display: inline-block;
                    color: #000;
                }
                p{
                    display: inline-block;
                    color: #ccc;
                }
                #num{
                    width:25px;
                    height: 20px;
                    border-radius: $wt;
                    line-height: 20px;
                    color: #000;
                    background: #fc0387;
                }
            }
            .shopping{
                position: absolute;
                width: 300px;
                height: 70px;
                border: 1px solid #777;
                right: -8px;
                bottom: -83px;
                line-height: 70px;
                display: none;
                background: #fff;
            }
            &:hover{
                .shoping-item{
                    height: 45px;
                    background: #fff;
                    border-bottom: none;
                }
                .shopping{
                    display: block;
                }
            }
        }
    }
    
}
.nav-navbarii{
    width: 100%;
    height: 43px;
    
    .nav-navbaritem{
        width: $navw;
        height: 43px;
        margin: 0 auto;
        position: relative;
        >ul{
            >li{
               line-height: 43px;
               float: left;
               font-size: 15px;
               a{
                   display: inline-block;
                   padding:0 10px;
                   height: 43px;
                   text-align: center;
                   color:#000;
                   &:hover{
                       color: #f194cf;
                   }
               }
               &:nth-child(2){
                   font-weight: 600;
                   a{
                    color: #F10180;
                   }
               }
            &:last-child{
                .niv{
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px -1px 1px 0px #ccc;
                }
                ul{
                    background: #fff;
                    display: none;
                }
                a{
                    width: 100%;
                    height: 100%;
                    }
                li{
                    float: none;
                    text-align: center;
                }
            }
        }
            .menu{
                padding: 0;
                position: relative;
                a{
                    float: left;
                    width: 156px;
                    height: 43px;
                    background: #fc0387;
                    color: #fff;
                    line-height: 43px;
                    font-size: 17px;
                    margin-right: 10px;
                    i{
                        font-style: normal
                    }
                    b{
                        margin-right: 10px;
                    }
                }
                >ul{
                position: absolute;
                 text-align: center;
                 background: #fc0387;
                 font-size: 14px;
                 top: 43px;
                 left: 0;
                 display: none;
                 a:hover{
                    background: #fff;
                    color: #F10180;
                 }
                 li>a{
                     margin: 0;
                 }
            }
        }
       
    }
}
            .nav-menu{
                position: absolute;
                width:950px;
                height: 473px;
                top:43px;
                left:176px;
                z-index: 20;
                display: none;
                .nav-menuol{
                    width: 725px;
                    height: 100%;
                    float: left;
                    padding-top: 10px;
                    dl{
                        font-size: 14px;
                        border-bottom: 1px solid #000;
                        margin-left: 10px;
                        &:last-child{
                            border: none;
                        }
                        dt{
                            float: left;
                            margin:0 10px;
                            width: 100px;
                            text-align: right;
                            div{
                                display: flex;
                                justify-content: space-between;
                            }
                            i{
                                font-style: normal;
                            }
                        }
                        dd{
                            margin:8px 0;
                            margin-left: 123px;
                        }
                    }
                }
                #imga{
                    float: right;
                    width: 225px;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        margin-left: 29px;
                    }
                }
                
    }  
}
// Í·²¿½áÊø

.selector{ 
    width: 100%;
    height: 1000px; 
    background: url(img/15609498969318.jpg) no-repeat center;
}


.rightitem{
    width: 36px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: #777;
}